---
import ListElement from "../../components/ListElement.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await Astro.glob('./posts/*.md')
---


<BaseLayout title={'Blog'}>
  <h1>blog</h1>

  <ul>
    {
      posts.map((post) => (
        <ListElement title={post.frontmatter.title} url={post.url}/>
      ))
    }
  </ul>

</BaseLayout>